* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: var(--textStyle);
}

.nav_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  border-bottom: 2px solid #c4c4c4;
}

.nav_section h1 {
  color: #1090cb;
  font-size: 29px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 167px;
  position: relative;
}

.listback {
  position: absolute;
  bottom: 25px;
  left: 115px;
}

.home {
  color: #1090cb;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 70px;
  color: black;
  font-size: var(--textTittle);
}

.navbar button {
  background-color: var(--blueBtn);
  color: white;
  border: 0px;
  width: 125px;
  height: 41px;
  border-radius: 6px;
  cursor: pointer;
}

/* MAIN SECTION */
.first_section {
  display: flex;
  align-items: center;
}

.img_left {
  padding: 30px;
  display: flex;
}

.photo1 {
  padding: 243px 50px 60px 80px;
  width: 247px;
  height: 259px;
}

.photo2 {
  padding: 156px 69px 60px 10px;
  width: 288px;
  height: 346px;
}

.img_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  position: relative;
}

.img_right h1 {
  font-size: 25px;
  font-weight: 400;
  color: var(--blueBtn);
}

.img_right h3 {
  font-size: var(--textSize);
  width: 600px;
  height: 100px;
}

.img_right p {
  font-size: 18px;
  font-weight: 400;
  color: #868686;
  width: 460px;
  height: 90px;
}

.img_right img {
  width: 400px;
  height: 350px;
  position: absolute;
  right: 1180px;
  bottom: -650px;
}

.secont_section {
  padding: 60px 50px 220px 160px;
  display: flex;
  gap: 51px;
  position: relative;
}

.ph2back {
  position: absolute;
  right: 150px;
  bottom: 150px;
  z-index: -1;
}

.third_section {
  display: flex;
  align-items: center;
}

.left_section {
  padding: 170px 50px 150px 120px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.left_section h2 {
  width: 500px;
  height: 110px;
  font-size: 30px;
  font-weight: 600;
}

.left_section p {
  width: 480px;
  height: 150px;
  font-size: 20px;
  font-weight: 400;
  color: #585858;
}

.left_section button {
  width: 190px;
  height: 51px;
  color: var(--blueBtn);
  border: 2px solid var(--blueBtn);
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #fff;
}

.ph3back {
  width: 54px;
  height: 5px;
}

.third {
  font-size: 25px;
  font-weight: 500;
  display: flex;

  gap: 66px;
  flex-wrap: wrap;

  align-items: center;
  width: 700px;
  height: 395px;
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.17);
  padding: 60px;
}

.third1 {
  background-color: #fff2f2;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.third2 {
  background-color: #e2f3ff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.third3 {
  background-color: #f1e8ff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.third4 {
  background-color: #ffe7fb;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}










.fifth_section {
    background-color: #e8f4fa;
    
    height: 540px;
    position: relative;
  }
  
  .final2_text h1 {
      text-align: center;
    font-size: 30px;
    font-weight: 600;
  height: 250px;
  padding-top: 150px;
  }
  
  .final2_table{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
     
  }
  
  
  .fifth_section input{
      width: 400px;
      height: 60px;
  }
  
  .fifth_section button{
      width: 170px;
      height: 60px;
      background-color: black;
      color: white;
      border-radius: 13px;
  }
  
  .final2backleft{
      position: absolute;
      top: -50px;
      left: 50px;
  }
  
  .final2backright{
      position: absolute;
      right: 260px;
      top: 80px;
  }
  






  .footer_left{
    width: 370px;
    padding: 60px;


}

.footer_left h1{
    color: #00329B;
    font-size: 16px;
    font-weight: 700;

}

.footer_left p{
    font-size: 16px;
    font-weight: 400;
    
}


.footer_2 h1{
font-size: 17px;
font-weight: 700;
padding: 30px;
}

.footer_2 p{
    padding: 5px;
   
}


.footer_3 h1{
    font-size: 17px;
    font-weight: 700;
    padding: 30px;
}

.footer_3 p{
    padding: 25px;
    width: 350px;
}



.footer_4{
   
    
    display: flex;
    gap: 16px;
    
  
}


.footer1_section{
    font-family: var(--textStyle);
    margin: 100px;
    display: flex;
    
    }



.footer2_section{
    text-align: center;
    border-top: 2px solid #d2d2d2;
    padding: 30px;
    color: #686868;
}